
.header {
  height: 57px;
  background-color: #f5f5f5;
  max-width: 360px;
}

.title {
  text-align: center;
  padding: 18px;
  font-size: 17px;
  color: #696969;
}

.body {
  max-width: 360px;
  max-height: 640px;
  background-color: white;
}

/* buttons */
img.button01 {
width: 118px;
margin-top: 174px;
margin-left: 38px;
float: left;
}


img.button02 {
width: 118px;
margin-top: 174px;
margin-right: 38px;
float: right;
}
