
.header {
  height: 57px;
  background-color: #f5f5f5;
  max-width: 360px;
}

.title {
  text-align: center;
  padding: 18px;
  font-size: 17px;
  color: #696969;
}

.body {
  max-width: 360px;
  max-height: 640px;
  background-color: white;
}

/* 駅名のCSS*/

.sta {
  font-size: 24px;
}

.chara {
  font-size: 14px;
}

/* 波紋 */
@-webkit-keyframes test {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
    }
    100% {
        opacity: 0.5;
        -webkit-transform: scale(1);
    }
}

.circle1 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;

    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-out;
}

.circle2 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;


    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0.2s;
}

.circle3 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;


    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0.4s;
}


/* 下記はまだ未調整*/

.station01{
  color: #00bfff;
  margin-top: 60px;
  margin-bottom: 60px
}

.station02{
  color: #9400d3;
  margin-top: 60px;
  margin-bottom: 60px;
}

.station03{
  color: #ffd700;
  margin-top: 60px;
  margin-bottom: 60px;
}



.station04{
  color: #00fa9a;
  margin-top: 60px;
  margin-bottom: 60px;
}
