
.header {
  height: 57px;
  background-color: #f5f5f5;
  max-width: 360px;
}

.title {
  text-align: center;
  padding: 18px;
  font-size: 17px;
  color: #696969;
}

.body {
  max-width: 360px;
  max-height: 640px;
  background-color: white;
}

/* 駅名のCSS*/
@-webkit-keyframes test {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
    }
    100% {
        opacity: 0.1;
        -webkit-transform: scale(1);
    }
}

/* station01 */
.wrapper1 {
    position: absolute;
    top: 120px;
    left: 210px;
    width: 150px;
    height: 150px;
}

.circle11 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;
    position: absolute;

    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;

    top: 0;
    left: 0;
    z-index: -100;

    border-color: #52BFCD;
}

.circle21 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;


    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;

    top: 0;
    left: 0;
    z-index: -100;

    border-color: #52BFCD;
}

.circle31 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;

    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.2s;

    top: 0;
    left: 0;
    z-index: -100;

    border-color: #52BFCD;
}

.moji1 {
    position: absolute;

    top: 65px;
    left: 53px;
    z-index: 100;

    color: #52BFCD;
}

/* station02 */
.wrapper2 {
    position: absolute;
    top: 200px;
    left: 40px;
    width: 150px;
    height: 150px;
}

.circle12 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;
    position: absolute;

    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;

    top: 0;
    left: 0;
    z-index: -100;

    border-color: #E84351;
}

.circle22 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;


    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;

    top: 0;
    left: 0;
    z-index: -100;

    border-color: #E84351;
}

.circle32 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;

    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.2s;

    top: 0;
    left: 0;
    z-index: -100;

    border-color: #E84351;
}

.moji2 {
    position: absolute;

    top: 65px;
    left: 53px;
    z-index: 100;

    color: #E84351;
}

/* station03 */
.wrapper3 {
    position: absolute;
    top: 290px;
    left: 180px;
    width: 150px;
    height: 150px;
}

.circle13 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;
    position: absolute;

    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;

    top: 0;
    left: 0;
    z-index: -100;

    border-color: #FED849;
}

.circle23 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;


    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;

    top: 0;
    left: 0;
    z-index: -100;

    border-color: #FED849;
}

.circle33 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;

    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.2s;

    top: 0;
    left: 0;
    z-index: -100;

    border-color: #FED849;
}

.moji3 {
    position: absolute;

    top: 65px;
    left: 53px;
    z-index: 100;

    color: #FED849;
}

/* station04 */
.wrapper4 {
    position: absolute;
    top: 420px;
    left: 125px;
    width: 150px;
    height: 150px;
}

.circle14 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;
    position: absolute;

    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;

    top: 0;
    left: 0;
    z-index: -100;

    border-color: #C3D957;
}

.circle24 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;


    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;

    top: 0;
    left: 0;
    z-index: -100;

    border-color: #C3D957;
}

.circle34 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:solid 1px black;

    -webkit-animation-name: test;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.2s;

    top: 0;
    left: 0;
    z-index: -100;

    border-color: #C3D957;
}

.moji4 {
    position: absolute;

    top: 65px;
    left: 53px;
    z-index: 100;

    font-size: 24px;
    color: #C3D957;
}
